.navbar{
    background-color: #313e4f;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 0;
}

#logo{
    font-weight: 650;
    font-size: 18px;
    color: #fff;
}

.icon-bar{
    background-color:  #fff;
}

#menu{
    border: 1px solid ;
}

.jumbotron{
    background-color: #66ba9e;
    text-align: center;
    color: #fff;
    padding-top: 150px;
    margin-bottom: 0;
}

.jumbotron img{
    height: 200px;
}

#title{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
}


#lista li{
    font-weight: 600;
    display: inline-block;
}

#lista a {
    color:#fff;
}
#lista a:hover{
    background-color:#313e4f;
    color: #66ba9e;
}

.separatore{
    font-size: 30px;
    margin: 20px auto;
    width: 280px;
    position:relative;
    text-align: center;
}


.separatore::before,
.separatore::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 4px;
    border-radius: 3px;
    background-color: white;
}

.separatore::before {
    left: 0;
}

.separatore::after {
    right: 0;
}

.section{
    padding: 90px 0;
}
.section h2{
    font-size: 45px;
    font-weight: bold;
    margin-top:  10px;

}

.portfolio h2, .portfolio .separatore i{
    color: #313e4f;
}
.portfolio .separatore::before,
.portfolio .separatore::after{
    background-color: #313e4f;
}

.box{
    position: relative;
    max-width: 400px;
    margin: auto;
    margin-bottom: 25px;
}

.box img{
    border-radius: 10px;
}

.plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color:#fff;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.9);
    border-radius: 10px;
    display: none;
}

.plus i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.box:hover .plus{
    display: block;
}
