.navbar{
    background-color: #313e4f;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 0;
}

#logo{
    font-weight: 650;
    font-size: 18px;
    color: #fff;
}

.icon-bar{
    background-color:  #fff;
}

#menu{
    border: 1px solid ;
}

.jumbotron{
    background-color: #1abc9c;
    text-align: center;
    color: #fff;
    padding-top: 150px;
    margin-bottom: 0;
}

.jumbotron img{
    height: 200px;
}

#title{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
}


#lista li{
    font-weight: 600;
    display: inline-block;
}

#lista a {
    color:#fff;
}
#lista a:hover{
    background-color:#313e4f;
    color: #66ba9e;
}

.separatore{
    font-size: 30px;
    margin: 20px auto;
    width: 280px;
    position:relative;
    text-align: center;
}


.separatore::before,
.separatore::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 4px;
    border-radius: 3px;
    background-color: white;
}

.separatore::before {
    left: 0;
}

.separatore::after {
    right: 0;
}

.section{
    padding: 90px 0;
}
.section h2{
    font-size: 45px;
    font-weight: bold;
    margin-top:  10px;

}

.section-light h2, .section-light .separatore i{
    color: #313e4f;
}
.section-light .separatore::before,
.section-light .separatore::after{
    background-color: #313e4f;
}

.box{
    position: relative;
    max-width: 400px;
    margin: auto;
    margin-bottom: 25px;
}

.box img{
    border-radius: 10px;
}

.plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color:#fff;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.9);
    border-radius: 10px;
    display: none;
}

.plus i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.box:hover .plus{
    display: block;
}

.about{
    background-color: #1abc9c;
}

.about h2, .about .separatore i{
    color: #fff;
}

.testo{
    color:#fff;
    font-weight: 600px;
    font-size: 18px;
}

#get-it{
    margin-top: 50px;
    padding:20px 45px;
    background-color: #1abc9c;
    color:#fff;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 600px;
}

#get-it:hover{
    background-color: #fff;
    color:#313e4f;

}

.form{
    padding: 40px;
    color: #888;
    font-size: 18px;
}

.form-group input, .form-group textarea {
border-top:none;
border-left:none;
border-right:none;
box-shadow: none;
border-radius:0;
margin-bottom: 50px;
}

.form input:last-child{

}

.send{
    padding:0 40px;
}

.send input{
    background-color:  #1abc9c;
    color: #fff;
    padding:20px 30px;
}

.send input:hover{
    color: #fff;
    background-color: #16af91;
}

#footer-top{
    background-color:#313e4f;
}

.footer-col{
    color:#fff;
    padding: 0 40px;
    margin-bottom: 40px;
}

.footer-col p:first-child{
    font-size: 25px;
    font-weight: bold;
}

.footer-col p:last-child{
    font-size: 20px;
    font-weight: 500;
}

.footer-col p:last-child a {
    color:#16af91;;
}
.social {
    padding:10px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    margin: 0 10px;
}

.social:hover {
    background-color: #fff;
    color: #313e4f;
}

#footer-bottom{
    padding:40px 0;
    background-color: #1a252f;
}

small{
    color:#fff;
}
